<ion-content translucent fullscreen>
  <ion-grid>
    <ion-row>
        <!-- xs (100%), sm (540px), md (720px), lg (960px), xl (1140px) -->
      <ion-col size="12" size-xs="12"size-sm="12" size-md="8" offset-md="2" size-lg="8" offset-lg="2" >
        <!-- INICIO DO FORMULARIO -->
        <!-- (ngSubmit)="onSubmit(f)" -->
  <form #f="ngForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-title class="ion-text-center ion-padding">
        <img src="/assets/Gentil.png" />
      </ion-title>

      <ion-item-divider class="ion-padding texto-login">
        <div style="width: 100%; text-align: center; color:#56C500;">
          <h5 class="dropshadow">LOGIN:</h5>
        </div>
      </ion-item-divider>

      <ion-item>
        <ion-label position="stacked">Email: <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required email ngModel #emailCtrl="ngModel" clear-input type="email" name="email" [(ngModel)]="usuarioLogin.email" placeholder="seuemail@algo.com"></ion-input>
      </ion-item>
      <!-- Mensagem caso o informado não bata com a validação do campo -->
      <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
        <ion-label color="vermelhoGentil" style="font-size: small;">
          Deve ser um email válido.
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha: <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required password ngModel #passwordCtrl="ngModel" clear-input type="password" minlength="6" name="password" [(ngModel)]="usuarioLogin.password" placeholder="**********"></ion-input>
      </ion-item>
    <!-- Mensagem caso o informado não bata com a validação do campo -->
    <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
      <ion-label color="vermelhoGentil" style="font-size: small;">
        Deve ter pelo menos 6 caracteres.
      </ion-label>
    </ion-item>
  </ion-list>
    <div>
      <hr>
      <ion-button expand="block" color="verdeGentil" fill="outline" [disabled]="!f.valid" (click)="login()">Entrar
      </ion-button>
      <hr>
      <ion-button expand="block" color="white" fill="outline" type="button"  (click)="goToCadastro()">Cadastrar</ion-button>
    </div>
  </form>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-text-center">
  <ion-toolbar>
    <h6 class="dropshadow">IFFar © 2019</h6>
  </ion-toolbar>
</ion-footer>