.button{
    color: #56C500;
}
.dropshadow{
    filter:drop-shadow(5px 5px 4px #000);
}
.texto-login{
    font-size: medium;
    color:#56C500;
    filter:drop-shadow(0px 0px 5px 4px #000);
    display:block;
    border-style: solid;
    border-color: rgb(41, 41, 41);
    border-width: 1px 0px 1px 0px;
}
form{
    padding: 10px;
}