<ion-header>
    <ion-toolbar style="width: 100%; position: relative; left: 0;  height: -webkit-fill-available;">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/pg-tabs/pg-novos"></ion-back-button>
        </ion-buttons>
      <ion-title class="ion-text-wrap">  <ion-text class="subtitulo ion-text-center" color="verdeGentil">{{atividade.titulo}}</ion-text> </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-grid>
          <ion-row>
              <!-- xs (100%), sm (540px), md (720px), lg (960px), xl (1140px) -->
            <ion-col size="12" size-xs="12"size-sm="12" size-md="8" offset-md="2" size-lg="8" offset-lg="2" >
              <!-- INICIO DO FORMULÁRIO -->
              <!-- (ngSubmit)="onSubmit(f)"  -->
    <form >
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <!-- CAMPO DATA -->
        <ion-item item-content>
          <ion-label class="ion-text-wrap" position="stacked">Data: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" cancel-text="Cancelar" done-text="OK" color="verdeGentil" clear-input required clear-input ngModel #dataCtrl="ngModel" minlength="1" name="data" [(ngModel)]="atividade.data" placeholder="Selecione uma data"></ion-datetime> 
        </ion-item>
        <!-- Mensagem caso o informado não bata com a validação do campo -->
        <ion-item *ngIf="!dataCtrl.valid && dataCtrl.touched" lines="none">
          <ion-label color="vermelhoGentil" style="font-size: small;">
            Deve conter uma data.
          </ion-label>
        </ion-item>

         <!-- CAMPO HORA -->
       <ion-item>
          <ion-label class="ion-text-wrap" position="stacked">Hora: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" cancel-text="Cancelar" done-text="OK" color="verdeGentil" clear-input required clear-input ngModel #horaCtrl="ngModel" [(ngModel)]="atividade.hora" minlength="1" name="hora" placeholder="Selecione uma hora"></ion-datetime> 
        </ion-item>
        <!-- Mensagem caso o informado não bata com a validação do campo -->
        <ion-item *ngIf="!horaCtrl.valid && horaCtrl.touched" lines="none">
          <ion-label color="vermelhoGentil" style="font-size: small;">
            Deve conter uma hora.
          </ion-label>
        </ion-item>
  
        <!-- CAMPO TITULO -->
        <ion-item>
          <ion-label class="ion-text-wrap" position="stacked">Título: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required clear-input ngModel #tituloCtrl="ngModel" minlength="1" name="titulo" clear-input type="text" placeholder="Atividade Avaliativa" [(ngModel)]="atividade.titulo"></ion-input>
        </ion-item>
        <!-- Mensagem caso o informado não bata com a validação do campo -->
        <ion-item *ngIf="!tituloCtrl.valid && tituloCtrl.touched" lines="none">
          <ion-label color="vermelhoGentil" style="font-size: small;">
            Deve conter um título.
          </ion-label>
        </ion-item>
  
           <!-- CAMPO DISCIPLINA -->
           <ion-item>
            <ion-label class="ion-text-wrap" position="stacked">Disciplina: <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input required clear-input ngModel #disciplinaCtrl="ngModel" minlength="1" name="disciplina" clear-input type="text" placeholder="Sistemas Operacionais" [(ngModel)]="atividade.disciplina"></ion-input>
          </ion-item>
          <!-- Mensagem caso o informado não bata com a validação do campo -->
          <ion-item *ngIf="!disciplinaCtrl.valid && disciplinaCtrl.touched" lines="none">
            <ion-label color="vermelhoGentil" style="font-size: small;">
              Deve conter uma disciplina.
            </ion-label>
          </ion-item>
  
           <!-- CAMPO DESCRIÇÃO -->
           <ion-item>
            <ion-label class="ion-text-wrap" position="stacked">Descrição: <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input  required clear-input ngModel #descricaoCtrl="ngModel" minlength="1" name="descricao" clear-input type="text" placeholder="Atividade avaliativa valendo 30 pontos." [(ngModel)]="atividade.descricao"></ion-input>
          </ion-item>
          <!-- Mensagem caso o informado não bata com a validação do campo -->
          <ion-item *ngIf="!descricaoCtrl.valid && descricaoCtrl.touched" lines="none">
            <ion-label color="vermelhoGentil" style="font-size: small;">
              Deve conter uma descrição.
            </ion-label>
          </ion-item>
  
          <!-- CAMPO IMAGEM -->
          <ion-item>
            <ion-label class="ion-text-wrap" position="stacked">Informe a URL de uma imagem: 
            </ion-label>
            <ion-input  clear-input ngModel #imagemCtrl="ngModel" minlength="1" name="imagemUrl" clear-input type="text" placeholder="https://imgur.com/t/aww/ab6rDzR" [(ngModel)]="atividade.imagemUrl"></ion-input>
          </ion-item>
          
        <!-- CAMPO FOTO-->
        <ion-item *ngIf="!tipoDeDispositivo">
            <ion-buttons>
            <ion-button expand="block" slot="start" color="verdeGentil" fill="outline" (click)="escolherFoto();"> Pegar Foto da Galeria</ion-button>
          </ion-buttons>
          </ion-item>
          <ion-item *ngIf="!tipoDeDispositivo">
            <ion-buttons>
                <ion-button expand="block" slot="end" color="verdeGentil" fill="outline" (click)="tirarFoto();"> Tirar uma Foto</ion-button>
            </ion-buttons>
          </ion-item>

           <!-- CAMPO LOCALIZAÇÃO -->
           <ion-item>
            <ion-label class="ion-text-wrap" position="stacked">Informe a localização:
            </ion-label>
            <ion-input  clear-input ngModel #localizacaoCtrl="ngModel" minlength="1" name="localizacao" clear-input type="text" placeholder="Uma localização não foi informada." [(ngModel)]="atividade.localizacao"></ion-input>
          </ion-item>
          
        
      </ion-list>
  
      <div class="ion-padding">
          <ion-grid class="ion-text-center">
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="verdeGentil" fill="outline"  (click)="salvarAtividade()">
                  Salvar
                </ion-button>
                </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </form>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-content>
  