ion-radio, ion-radio-group{
    --color-checked:#56C500;;
}
ion-input{
    --color:white;
}

ion-item:active {
    color: white;
}
ion-list{
    filter:drop-shadow(0px 0px 5px 4px #000);
    display:block;
    border-style: solid;
    border-color: #000000;
    border-width: 1px 1px 1px 1px;
    padding:5px;
}

ion-datetime-picker {
    color:#56C500;
    .calendar .day {
        color:#56C500;
    }
}
.subtitulo{
    font-size: 18px;
}
ion-item{
    filter:drop-shadow(0px 0px 5px 4px #000);
    border-style: solid;
    border-color: #1b1b1b;
    border-width: 2px 2px 2px 2px;
}