<ion-header>
  <ion-toolbar style="width: 100%; position: relative; left: 0;  height: -webkit-fill-available;">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/pg-tabs/pg-novos"></ion-back-button>
    </ion-buttons>
  <ion-title class="ion-text-wrap">  <ion-text class="subtitulo ion-text-center" color="verdeGentil">{{usuario.nome}}</ion-text> </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <!-- xs (100%), sm (540px), md (720px), lg (960px), xl (1140px) -->
          <ion-col size="12" size-xs="12"size-sm="12" size-md="8" offset-md="2" size-lg="8" offset-lg="2" >
            <!-- INICIO DO FORMULÁRIO -->
            <!-- (ngSubmit)="onSubmit(f)" -->
  <form #f="ngForm" >
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <ion-item>
        <ion-label position="stacked">Nome: <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required clear-input ngModel #nomeCtrl="ngModel" minlength="1" name="nome" clear-input type="text" [(ngModel)]="usuario.nome" placeholder="Gerald of Rivia"></ion-input>
      </ion-item>
      <!-- Mensagem caso o informado não bata com a validação do campo -->
      <ion-item *ngIf="!nomeCtrl.valid && nomeCtrl.touched" lines="none">
        <ion-label color="vermelhoGentil" style="font-size: small;">
          Deve conter um nome.
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Curso: <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input  clear-input required ngModel #cursoCtrl="ngModel" name="curso" [(ngModel)]="usuario.curso" minlength="1" type="text" placeholder="Sistemas de Informação"></ion-input>
      </ion-item>
       <!-- Mensagem caso o informado não bata com a validação do campo -->
       <ion-item *ngIf="!cursoCtrl.valid && cursoCtrl.touched" lines="none">
        <ion-label color="vermelhoGentil" style="font-size: small;">
          Deve conter um curso.
        </ion-label>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">Imagem: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input  clear-input required ngModel #imagemCtrl="ngModel" minlength="1" name="imagemUrl" clear-input type="text" [(ngModel)]="usuario.imagemUrl" placeholder="https://images-na.ssl-images-amazon.com/images/I/51IY4ohvfUL.jpg"></ion-input>
        </ion-item>
        <!-- Mensagem caso o informado não bata com a validação do campo -->
        <ion-item *ngIf="!imagemCtrl.valid && imagemCtrl.touched" lines="none">
          <ion-label color="vermelhoGentil" style="font-size: small;">
            Deve conter uma imagem.
          </ion-label>
        </ion-item>

      <ion-item>
          <ion-label>Perfil<ion-text color="danger">*</ion-text></ion-label>
          <ion-select placeholder="Witcher" cancel-text="Cancelar" [(ngModel)]="usuario.perfil" [ngModelOptions]="{standalone: true}">
              <ion-select-option value="Professor">Professor</ion-select-option>
              <ion-select-option value="Aluno">Aluno</ion-select-option>
          </ion-select>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-grid class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="verdeGentil" fill="outline" type="submit" (click)="salvarUsuario()"  [disabled]="!f.valid">
              Salvar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
