<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon size="large" color="verdeGentil" slot="start" name="school"></ion-icon>
      <ion-title>Editar Professores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
        <ion-grid fixed>
            <ion-row>
              <ion-col size="12" class="ion-text-center">
                <ion-list *ngFor="let usuario of usuarios">
                  <!-- <ion-item-sliding> -->
                  <ion-item *ngIf="usuario.perfil=='Professor'" button  [routerLink]="['/pg-editar-usuarios', usuario.usuarioId]">
                    <ion-thumbnail slot="start">
                      <ion-img [src]="usuario.imagemUrl"></ion-img>
                    </ion-thumbnail>
                    <ion-label>
                      <h2 class="data">{{usuario.nome}}</h2>
                      <h2>{{usuario.email}}</h2>
                      <p>{{usuario.curso}}</p>
                      <p>{{usuario.perfil}}</p>
                    </ion-label>
                  </ion-item>
                  <!-- <ion-item-options side="end">
                      <ion-item-option  (click)="deletarUsuarios(usuario.usuarioId);">
                        <ion-icon slot="top" name="trash"></ion-icon>
                        Excluir
                      </ion-item-option>
                    </ion-item-options>
                </ion-item-sliding> -->
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
</ion-content>
