.antiga-atividade-card{
    background-color: rgb(27, 27, 27);
    color:white;
}
.antiga-atividade-card-header{
    background-color: rgb(27, 27, 27);
}
.card-button{
    float:right;
    color:#FFE600;
}
.card-data{
    font-size:large;
    color:#FFE600;
}

.card-titulo{
    font-size:large;
}
