<ion-content>
  <ion-grid fixed>
      <ion-row>
          <ng-container *ngFor="let atividade of atividades">
          <!-- xs (100%), sm (540px), md (720px), lg (960px), xl (1140px) -->
          <ion-col size="12" size-xs="12" size-sm="6" size-md="6" size-lg="4" *ngIf="testeAntigo(atividade.data)">
            <!-- Função para repetir o componente 15 vezes (ion-card) -->
            <ion-card class="antiga-atividade-card">
              <!-- Imagem da atividade -->
              <img [src]="atividade.imagemUrl" alt="imagem-do-card" style="width: 600px; height: 200px" />
              <ion-card-header class="antiga-atividade-card-header ion-text-center">
                <ion-card-title class="card-titulo">{{atividade.titulo}}</ion-card-title>
                <ion-card-subtitle>{{atividade.disciplina}} </ion-card-subtitle>
                <ion-card-title class="card-data">{{atividade.data | date: "dd/MM/yyyy"}} às {{atividade.hora | date: "H:mm"}}hrs</ion-card-title>
              </ion-card-header>
              <ion-button color="amareloGentil" fill="outline" expand="full" [routerLink]="['/pg-detalhes-atividade', atividade.id]">Saiba Mais
              </ion-button>
            </ion-card>
          </ion-col>
          </ng-container>
        </ion-row>
  </ion-grid>

</ion-content>