ion-radio, ion-radio-group{
    --color-checked:#56C500;;
}
ion-input{
    --color:white;
}

ion-item:active {
    color: white;
}


.borda{
    filter:drop-shadow(0px 0px 5px 4px #000);
    display:block;
    background-color: #1b1b1b;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px 1px 1px 1px;
    padding:5px;
}

ion-datetime-picker {
    color:#56C500;
    .calendar .day {
        color:#56C500;
    }
}
