<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="verdeGentil" defaultHref="/pg-tabs/pg-novos"></ion-back-button>
      </ion-buttons>
    <ion-title>Detalhes da Atividade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <!-- xs (100%), sm (540px), md (720px), lg (960px), xl (1140px) -->
          <ion-col size="12" size-xs="12"size-sm="12" size-md="8" offset-md="2" size-lg="8" offset-lg="2" >
            <!-- INICIO DO FORMULÁRIO -->
            <!-- (ngSubmit)="onSubmit(f)"  -->
  <form >
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-grid>
        <ion-row class="borda" size="12">
      <!-- CAMPO DATA E HORA-->
      <ion-item ><ion-text> <b>Data e Hora:</b></ion-text></ion-item>
      <ion-item>
        <ion-label color="verdeGentil" class="ion-text-wrap"> <b>{{atividade.data | date:"dd/MM/yyyy"}} às {{atividade.hora | date:"H:mm"}} hrs</b>
        </ion-label>
      </ion-item>
    </ion-row>
    <ion-row class="borda" size="12">
      <!-- CAMPO TITULO -->
      <ion-item ><ion-text ><b>Título: </b>    </ion-text></ion-item>
      <ion-item>
          <ion-label  class="ion-text-wrap"><b>{{atividade.titulo}}</b>
            </ion-label>
      </ion-item>
    </ion-row>
    <ion-row class="borda" size="12">
         <!-- CAMPO DISCIPLINA -->
         <ion-item >
            <ion-text><b>Disciplina:</b> </ion-text>
         </ion-item>
         <ion-item>
          <ion-label class="ion-text-wrap">{{atividade.disciplina}}
          </ion-label>
        </ion-item>
      </ion-row>
      <ion-row class="borda" size="12">
         <!-- CAMPO DESCRIÇÃO -->
         <ion-item > <b>Descrição: </b></ion-item>
         <ion-item>
          <ion-label class="ion-text-wrap">{{atividade.descricao}}
          </ion-label>
        </ion-item>
      </ion-row>
      <ion-row class="borda" size="12">
        <!-- CAMPO IMAGEM -->
        <ion-item><ion-text><b>Imagem: </b></ion-text></ion-item>
        
          <ion-img [src]="atividade.imagemUrl" ></ion-img>
        
      </ion-row>
      <ion-row class="borda" size="12" *ngIf="atividade.localizacao">
        <!-- CAMPO Localização -->
        <ion-item><ion-text><b>Localização da Atividade: </b></ion-text></ion-item>
        <ion-item><ion-label class="ion-text-wrap">{{atividade.localizacao}}</ion-label></ion-item>    
      </ion-row>
      </ion-grid>
    </ion-list>

    <div class="ion-padding">
        <!-- <ion-grid class="ion-text-center">
          <ion-row>
            <ion-col>
              <ion-button expand="block" color="verdeGentil" fill="outline"  (click)="salvarAtividade()">
                Salvar</ion-button>
                </ion-col>
          </ion-row>
        </ion-grid> -->
      </div>
    </form>
    </ion-col>
    </ion-row>
    </ion-grid>
  </ion-content>
