<ion-header translucent fullscreen>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pg-tabs/pg-novos"></ion-back-button>
    </ion-buttons>
    <ion-icon size="large" color="verdeGentil" slot="start" name="person-add"></ion-icon>
    <ion-title>
      Cadastrar Usuário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <!-- xs (100%), sm (540px), md (720px), lg (960px), xl (1140px) -->
          <ion-col size="12" size-xs="12"size-sm="12" size-md="8" offset-md="2" size-lg="8" offset-lg="2" >
            <!-- INICIO DO FORMULÁRIO -->
            <!-- (ngSubmit)="onSubmit(f)" -->
  <form #f="ngForm" >
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <ion-item>
        <ion-label position="stacked">Nome: <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required clear-input ngModel #nomeCtrl="ngModel" minlength="1" name="nome" clear-input type="text" [(ngModel)]="usuarioRegister.nome" placeholder="Gerald of Rivia"></ion-input>
      </ion-item>
      <!-- Mensagem caso o informado não bata com a validação do campo -->
      <ion-item *ngIf="!nomeCtrl.valid && nomeCtrl.touched" lines="none">
        <ion-label color="vermelhoGentil" style="font-size: small;">
          Deve conter um nome.
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email: <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required clear-input email ngModel #emailCtrl="ngModel" clear-input type="email" name="email"  [(ngModel)]="usuarioRegister.email" placeholder="seuemail@algo.com"></ion-input>
      </ion-item>
      <!-- Mensagem caso o informado não bata com a validação do campo -->
      <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
        <ion-label color="vermelhoGentil" style="font-size: small;">
          Deve ser um email válido.
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Curso: <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input  clear-input required ngModel #cursoCtrl="ngModel" name="curso" [(ngModel)]="usuarioRegister.curso" minlength="1" type="text" placeholder="Sistemas de Informação"></ion-input>
      </ion-item>
       <!-- Mensagem caso o informado não bata com a validação do campo -->
       <ion-item *ngIf="!cursoCtrl.valid && cursoCtrl.touched" lines="none">
        <ion-label color="vermelhoGentil" style="font-size: small;">
          Deve conter um curso.
        </ion-label>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">Imagem: <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input  clear-input ngModel #imagemCtrl="ngModel" minlength="1" name="imagemUrl" clear-input type="text" [(ngModel)]="usuarioRegister.imagemUrl" placeholder="https://images-na.ssl-images-amazon.com/images/I/51IY4ohvfUL.jpg"></ion-input>
        </ion-item>
        <!-- Mensagem caso o informado não bata com a validação do campo -->
        <ion-item *ngIf="!imagemCtrl.valid && imagemCtrl.touched" lines="none">
          <ion-label color="vermelhoGentil" style="font-size: small;">
            Deve conter uma imagem.
          </ion-label>
        </ion-item>

      <ion-item>
          <ion-label>Perfil<ion-text color="danger">*</ion-text></ion-label>
          <ion-select placeholder="Witcher" cancel-text="Cancelar" [(ngModel)]="usuarioRegister.perfil" [ngModelOptions]="{standalone: true}">
              <ion-select-option value="Professor">Professor</ion-select-option>
              <ion-select-option value="Aluno">Aluno</ion-select-option>
          </ion-select>
      </ion-item>
  

      <ion-item>
        <ion-label position="stacked">Senha: <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required clear-input password ngModel #passwordCtrl="ngModel" clear-input type="password" minlength="6" name="password" [(ngModel)]="usuarioRegister.password" placeholder="**********"></ion-input>
      </ion-item>
    <!-- Mensagem caso o informado não bata com a validação do campo -->
    <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
      <ion-label color="vermelhoGentil" style="font-size: small;">
        Deve ter pelo menos 6 caracteres.
      </ion-label>
    </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-grid class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="verdeGentil" fill="outline" type="submit" (click)="cadastrar()"  [disabled]="!f.valid">
              Cadastrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
