ion-radio, ion-radio-group{
    --color-checked:#56C500;;
}
ion-input{
    --color:white;
}

ion-item:active {
    color: white;
}
form{
    filter:drop-shadow(0px 0px 5px 4px #000);
    display:block;
    border-style: solid;
    border-color: rgb(46, 46, 46);
    border-width: 1px 1px 1px 1px;
    padding:5px;
}
ion-select{
    color:#56C500;
}