<ion-header class="no-border" fullscreen>
  <ion-toolbar>
    <!-- Menu Lateral -->
    <ion-buttons slot="start">
        <ion-menu-button defaultHref="/pg-tabs/pg-novos"></ion-menu-button>
      </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <!-- Logo Gentil -->
          <div class="ion-text-center" style="padding-top:10px;">
            <img src="assets/icon/gentil2.png">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="end">
      <ion-button class="ion-text-right" size="larger" shape="round" fill="full" (click)="goToNovaAtividade()">
        <ion-icon color="verdeGentil" name="add-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="pg-novos" class="pg-novos">
        <!-- <ion-icon name="home"></ion-icon> -->
        <ion-label>Novas Atividades</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="pg-antigos" class="pg-antigos">
        <!-- <ion-icon name="person"></ion-icon> -->
        <ion-label>Antigas Atividades</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>