//Regras de personalização das abas do componente Tabs
.pg-novos {
    color:#56C500;
}
.pg-antigos {
    color:#FFE600;
}
ion-tab-bar{
    --ion-tab-bar-color-activated:rgb(255, 255, 255);
}
ion-tab-button.pg-novos{
    font-size: 16px;
    width:100%;
    border-style: solid;
    border-color:#56C500;
    border-width: 0 0 5px 0;
}

ion-tab-button.pg-antigos{
    font-size: 16px;
    width:100%;
    border-style: solid;
    border-color:#FFE600;
    border-width: 0 0 5px 0;
}

// ion-icon {
//     font-size: 40px; //Preferred size here
// }

.button ion-icon[slot="icon-only"] {
    font-size: 40px;
  }