<ion-app>
  <ion-split-pane>
      <ion-menu type="overlay">
      <ion-header translucent>
        <ion-grid>
        <ion-row  class="ion-text-center row-avatar">
          <ion-col>
            <img class="custom-avatar" src="assets/icon/avatar.png">
            <h5 class="titulo-menu"> Nome do Usuário</h5>
          </ion-col>
       </ion-row>
        <ion-row class="ion-text-center"> 
          <ion-col class="opcoes-menu">
            <h5>OPÇÕES</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-header>
      <ion-content fullscreen class="ion-text-center"> 
        <ion-list>
          <ion-menu-toggle  auto-hide="false">
              <ion-item [routerDirection]="'root'" [routerLink]="['/pg-tabs/pg-novos']" >
                  <ion-icon color="verdeGentil" slot="start" name="home"></ion-icon>
                  <ion-label>Início</ion-label>
              </ion-item>
            <!-- DIVISAO -->
            <ion-item-divider> 
              <ion-icon slot="start" name="add" class="icon-divider"></ion-icon> 
              Adicionar 
            </ion-item-divider>
            <!-- DIVISAO -->
            <ion-item [routerDirection]="'root'" [routerLink]="['/pg-nova-atividade']" >
              <ion-icon color="verdeGentil" slot="start" name="add-circle-outline"></ion-icon>
              <ion-label>Cadastrar Atividade</ion-label>
             </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="['/pg-cadastro']" >
              <ion-icon color="verdeGentil" slot="start" name="person-add"></ion-icon>
              <ion-label>Cadastrar Usuário</ion-label>
            </ion-item>
            <!-- DIVISAO -->
            <ion-item-divider> 
                <ion-icon slot="start" name="construct" class="icon-divider"></ion-icon> 
                Gerenciar 
            </ion-item-divider>
            <!-- DIVISAO -->
            <ion-item [routerDirection]="'root'" [routerLink]="['/pg-editar-atividades']" >
              <ion-icon color="verdeGentil" slot="start" name="ribbon"></ion-icon>
              <ion-label>Editar Atividades</ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="['/pg-editar-alunos']" >
              <ion-icon color="verdeGentil" slot="start" name="trophy"></ion-icon>
              <ion-label>Editar Alunos</ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" [routerLink]="['/pg-editar-professores']" >
              <ion-icon color="verdeGentil" slot="start" name="school"></ion-icon>
              <ion-label>Editar Professores</ion-label>
            </ion-item>
            <!-- DIVISAO -->
            <ion-item-divider> 
                <ion-icon slot="start" name="finger-print" class="icon-divider"></ion-icon>
                Autenticação 
            </ion-item-divider>
            <!-- DIVISAO -->
            <ion-item (click)="onLogout()" >
                <ion-icon color="verdeGentil" slot="start" name="exit"></ion-icon>
                <ion-label>Sair</ion-label>
              </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
     <!-- <ion-footer class="ion-text-center no-border">
        <ion-toolbar class="ion-padding">
            <img src="assets/Gentil.png">  
            <h6 class="dropshadow">IFFar © 2019</h6>
        </ion-toolbar>
      </ion-footer>-->
    </ion-menu> 
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>