//Efeitos de Dropshadow
.titulo-menu{
    Color:#FFF;
    filter:drop-shadow(5px 5px 4px #000);
}
.opcoes-menu{
    font-size: medium;
    color:#56C500;
    filter:drop-shadow(0px 0px 5px 4px #000);
    display:block;
    border-style: solid;
    border-color: #292929;
    border-width: 1px 0px 1px 0px;
}
//Regra para aredondar o ícone do usuário
.custom-avatar {
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
//Redução do espaço não utilizado pelo cabeçalho do menu lateral
.toolbar{
    height:38%;
}
.row-avatar{
    padding-top:10px;
}

hr {
    display: block;
    border-color: #56C500;
    border-width: 0.5px;
  }

ion-item-divider,.icon-divider{
    font-size: small;
    // color:#56C500;
    filter:drop-shadow(0px 0px 5px 4px #000);
    // border-style: solid;
    // border-color: rgb(41, 41, 41);
    // border-width: 0px 0px 1px 0px;
}
//   .no-scroll {
//   --overflow:hidden;
//     }