.nova-atividade-card{
    background-color: #1b1b1b;
    color:white;
    filter:drop-shadow(5px 4px 5px 4px #000);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px 1px 1px 1px;
}
.nova-atividade-card-header{
    background-color: #1b1b1b;
}
.card-button{
    float:right;
    color:#56C500;
}
.card-data{
    font-size:large;
    color:#56C500;
}

.card-titulo{
    font-size:large;
}
ion-card, ion-col{
    position: relative;
}