<ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-icon size="large" color="verdeGentil" slot="start" name="ribbon"></ion-icon>
      <ion-title>Editar Atividades <br><ion-text class="aviso">(Arraste à esquerda para excluir)</ion-text></ion-title>
      
  </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen> 
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-list *ngFor="let atividade of atividades">
            <ion-item-sliding>
            <ion-item button  [routerLink]="['/pg-editar-atividade', atividade.id]">
              <ion-thumbnail slot="start">
                <ion-img [src]="atividade.imagemUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2 class="data">Data: {{atividade.data | date:"dd/MM/yyyy"}}</h2>
                <h2 class="hora">Hora: {{atividade.hora | date:"H:mm"}}hrs</h2>
                <h2>Título: {{atividade.titulo}}</h2>
                <p>Disciplina: {{atividade.disciplina}}</p>
                <p>Descrição: {{atividade.descricao}}</p>
                <p>Imagem: {{atividade.imagemUrl}}</p>
                <p *ngIf="atividade.localizacao">Localização: {{atividade.localizacao}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option  (click)="deletarAtividade(atividade.id);">
                  <ion-icon slot="top" name="trash"></ion-icon>
                  Excluir
                </ion-item-option>
              </ion-item-options>
          </ion-item-sliding>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>