ion-item{
    filter:drop-shadow(0px 0px 5px 4px #000);
    border-style: solid;
    border-color: #1b1b1b;
    border-width: 5px 5px 5px 5px;
}
p{
    color:white;
}
h2{
   font-weight: bold; 
}
.data{
    color:#56C500;
}
ion-item-option{
    color: white;
    background-color: #a12121;
}

ion-list{
    filter:drop-shadow(0px 0px 5px 4px #000);
    // border-style: solid;
    // border-color: rgb(0, 0, 0);
    // border-width: 1px 1px 1px 1px;
}
ion-text{
    font-size: 12px;
    color:rgb(226, 226, 226);
}


ion-title{
    padding-top: 10px;
}